
:root{
    --mainclr:#266557;
    --secclr:#ff5d22;
    --third:#DFE4E0;
    --mainafterclr:hsl(167, 81%, 79%);
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 62.5%;

}

  .header{
    padding: 2rem 7%;
    background-color: var(--mainclr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header #logo{
    width: 50px;

}

.navbar a{
  color: white;
  font-size: 2.5rem;
  margin-left: 3rem;
  position: relative;

}
.navbar a:after{
  content: '';
  background: var(--secclr);
  width: 0;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  transition: .3s;
}
.navbar a:hover:after{
  content: '';
  background: var(--secclr);
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
}
.icons div{
  font-size: 2rem;
  margin-right: 0.75rem;
  color: white;
  display: none;
}
.icons a{
  color: white;
  background: var(--secclr);
  padding: 1rem 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: .5s;
}
.icons a:hover{
  background: transparent;
  border: 1px solid var(--secclr);
}
.navbar.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.background-image{
  background-image: url("frontbg.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 6%;
  position: relative;

}

.background-content{
  position: absolute;
  top: 30%;
  left: 50%;
  width: 50%;
  transform: translate(-80%);
}
.background-content h1{
  color: black;
  font-size: 50px;
  margin-bottom: 20px;
}
.background-content p{
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.background-content a{
  background: var(--secclr);
  padding: 1.5rem 3rem;
  border-radius: 15px;
  color: white;
  font-size: 1.5rem;
  transition: .5s;
}
.background-content a:hover{
  background: transparent;
  border: 1px solid var(--secclr);
  color: black;
}
.about{
  padding: 10rem 10%;
  background-color: #e5f8e5;
  /*background: var(--third);*/
}
.info{
  text-align: center;
  font-size: 50px;
  padding: 3rem;
}
.tag{
  text-align: justify;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  padding: 1.5rem;
  color:#3C486B;
}
.main-about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.inner-about{
  flex: 1 1 45rem;
}

.inner-about .inner-about-image img{
  width: 100%;
}
.about-content{
  width: 80%;
}
.about-content h1{
  font-size: 40px;
  margin-bottom: 15px;
}
.about-content p{
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: justify;
  padding-top: 0px;
  padding-bottom: 3rem;*/
  border-bottom: 10px;*/

}
.about-content a{
  background: var(--secclr);
  padding: 1rem 3rem;
  font-size: 2.5rem;
  color: white;
  transition: .5s;
  border-radius: 25px;

}
.about-content a:hover{
  background: transparent;
  border: 1px solid var(--secclr);
  color: black;



}
.survey{
  color: white;
  font-size: 35px;
  padding: 5rem;
}
.container {
    /*border: 2px solid white;/*
    margin: 106px 80px;*/
    padding: 75px;
    width: 50%;
    border-radius: 28px;

}

.bgimg{
  width: 100%;
  background: url('https://media.glamour.com/photos/582fbce833d7a8104698fd02/master/pass/alyglamour.jpg');

}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}
.contact{
  width: 100%;
  height: 650px;
  /*padding-bottom: 7rem;*/

/*width: auto;
text-align: center;
padding: 3px;
border: 3px solid red;

max-width: 100%;
height: auto;*/
}


.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}


.rrr {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  height: 650px;

}

.service{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  padding-top: 30px;
  font-family: serif;
}
.cardiohead{
  font-size: 25px;
  font-weight: bold;
  /*line-height: 1.5px;*/
  padding: 10px;

}
.column {
  float: left;
  width: 33%;
  padding: 0 10px;

}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;
  margin-top: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    height: 75%;
  }
}

.cardPara {
  font-size: 20px;
  line-height: 30px;
}
